.firstDiv{ 
    color: #fff;
    font-size: 30px;
}

.firstDiv_ul{
    display: flex;
    flex-direction: column;
    list-style: inside;
    padding-left: 50px;
}

.picture{
    max-width: 200px;
    max-height: 200px;
}

.pictureTs{
    max-width: 200px;
    max-height: 200px;
    background-color: #fff;
}

.elementsDiv{
    display: flex;
    justify-content: center;
    gap: 100px;
}

.paragraph{
    text-align: center;
}